html {
  font-size: 12pt;
  font-family: "Noto Sans JP", sans-serif;
}
body {
  min-height: 100vh;
}
#github-ribbon {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
#header {
  text-align: center;
  padding-top: calc(50vh - 8rem);
  transition: padding-top .5s;
  &.minimized {
    padding-top: 1rem;
  }
  h1 {
    text-decoration: underline;
  }
  p {
    letter-spacing: .2rem;
    padding-left: .2rem;
  }
}
#search {
  width: calc(100% - 2rem);
  max-width: 40rem;
  margin: 1rem auto;
  .query {
    border-radius: .6rem;
    border: solid 1px black;
    padding: .5rem;
    input {
      width: 100%;
      height: 100%;
      font-size: 1.2rem;
    }
  }
  .query-enter-msg {
    text-align: center;
    font-family: "Raleway", sans-serif;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
    &.shown {
      opacity: 1;
      visibility: visible;
    }
  }
  p {
    text-align: center;
    margin: 1rem;
  }
}
#footer {
  margin: 1rem;

  .license {
    font-size: .6rem;
    color: gray;
    letter-spacing: .1rem;
    text-align: center;
    margin: .5rem;
    a {
      text-decoration: underline;
    }
  }
  .ad {
    width: 100%;
    max-width: 40rem;
    height: 4rem;
    margin: 0 auto;
  }
}